**/*.o
**/*.lo
**/*.a
**/*.in
**/Makefile
**/.deps/
.tags
.tags_sorted_by_file
aclocal.m4
autom4te.cache/
bin/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/
libtool
ltmain.sh
m4/
missing
ylwrap

